<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link href="../static/styles/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% import 'macro.html' as macro %}
<div class="container-fluid">
    <div class="header" style="margin-top: 20px">
    </div>
</div>
<div class="container">
    <div class="content m-auto">
        <div class="page-content" style="margin-top: 20px">
            <h2>{{ title }}</h2>
            {{ raw_html | safe }}
        </div>
    </div>
</div>
</body>
</html>